body{
 background-color:#200000; 
}
#BOX{
    position: absolute;

	top: 0px;
	left: 960px;

    width: 1920px;
	height: 1080px;

    transform: translateX(-960px);
	background-color:#800000;

	margin: 0px;
	padding: 0px;
}
